

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  
  <title>Shoepp</title>
  <!-- Fonts -->
  <link rel="icon" href="../../../assets/image/icon-logo.png">
</head>


<body class="d-flex flex-column">
    <app-menu></app-menu>

    <div class="container page-content">
      <div class="card">
        <div class="card-body">
          <div class="text-center py-3">
            <i data-feather="check-circle" class="text-success" width="48" height="48"></i>
            <h1>Thank you.</h1>
            <p>Your order has been placed and will be processed as soon as possible.</p>
            <p class="mb-0">
              <span class="text-muted">Order ID: </span>
              <span class="text-info">#ORD<span></span></span>
            </p>
            <p>
              <span class="text-muted">Amount: </span>
              <span class="text-info">$ <span>2,899.00</span></span>
            </p>
            <p>The estimated delivery date is <span></span></p>
            <a href="#" class="btn btn-info rounded mb-3">CONTINUE SHOPPING</a> &nbsp;&nbsp;&nbsp;
            <a href="#" class="btn btn-primary rounded mb-3">VIEW ORDER</a>
          </div>
        </div>
      </div>  
    </div> <!-- end container -->
    <app-footer></app-footer>
</body>
</html>