<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    
    <title>Shoepp</title>
    <link rel="icon" href="../../../assets/image/icon-logo.png">  
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito|Roboto|Roboto+Condensed|Roboto+Slab" rel="stylesheet">  
    <!-- Bootstrap core CSS -->
    <!-- Feather icons -->
    <script src="https://unpkg.com/feather-icons"></script>  
  </head>



<body class="d-flex flex-column">
  <app-menu></app-menu>
  <div class="jumbotron jumbotron-fluid mt-0" style="background-image: url(../../../assets/image/background/adidas-background.jpg);">
    <div class="container">
      <div class="row text-left py-5">   
         <div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-3 col-xl-6 offset-xl-6 my-auto">  
            <h2 class="bg-warning text-dark d-inline-block p-1">Brand New</h2>
            <h1 class="font-weight-bold">High Quality Shoes</h1>
            <a href="#" class="btn btn-primary rounded-pill" data-addclass-on-xs="btn-sm">SHOP NOW</a>       
          </div> 
      </div>
  </div>
  </div>  
   
  
  <section class="section py-5 ">
    <div class="container text-center">
      <h4 class="font-weight-bold ">Featured products</h4>
        <div class="featured-items mt-4">        
          <div class="card card-product card-featured">
            <div class="card-body">
              <a href="#"><img class="card-img-top" src="http://mla-s2-p.mlstatic.com/705285-MLA28158537898_092018-C.jpg" alt="Card image cap"></a>
              <a href="#" class="card-title">Zapatilla adidas Energy Boost Hombre Ac8129</a>
              <div class="price"><span>$3099.0</span></div>
            </div>
          </div>
          <div class="card card-product card-featured">
            <div class="card-body">
              <a href="#"><img class="card-img-top" src="http://mla-s2-p.mlstatic.com/840122-MLA29160858480_012019-C.jpg" alt="Card image cap"></a>
              <a href="#" class="card-title">Zapatlla adidas Barricade Court 3</a>
              <div class="price"><span>$2799.0</span></div>
            </div>
          </div>
          <div class="card card-product card-featured">
            <div class="card-body">
              <a href="#"><img class="card-img-top" src="http://mla-s2-p.mlstatic.com/720888-MLA28158536888_092018-C.jpg" alt="Card image cap"></a>
              <a href="#" class="card-title">Zapatilla adidas Energy Cloud 2 B44751 Hombre</a>
              <div class="price"><span>$2499.0</span></div>
            </div>              
          </div>        
          <div class="card card-product card-featured">
            <div class="card-body">
              <a href="#"><img class="card-img-top" src="http://mla-s1-p.mlstatic.com/682204-MLA29294207493_012019-C.jpg" alt="Card image cap"></a>
              <a href="#" class="card-title">Zapatilla Topper Tie Break Iii Off Court</a>
              <div class="price"><span>$1899.0</span></div>
            </div>              
          </div>        
          <div class="card card-product card-featured">
            <div class="card-body">
              <a href="#"><img class="card-img-top" src="http://mla-s1-p.mlstatic.com/911883-MLA29638041439_032019-C.jpg" alt="Card image cap"></a>
              <a href="#" class="card-title">Zapatilla Puma Escaper Mesh Adp</a>
              <div class="price"><span>$1699.0</span></div>
            </div>              
          </div>        
          <div class="card card-product card-featured">
            <div class="card-body">
              <a href="#"><img class="card-img-top" src="http://mla-s2-p.mlstatic.com/945299-MLA26918700151_022018-C.jpg" alt="Card image cap"></a>
              <a href="#" class="card-title">Zapatilla John Foos  Classic 182</a>
              <div class="price"><span>$2309.0</span></div>
            </div>              
          </div>        
          <div class="card card-product card-featured">
            <div class="card-body">
              <a href="#"><img class="card-img-top" src="http://mla-s1-p.mlstatic.com/647211-MLA29567912388_032019-C.jpg" alt="Card image cap"></a>
              <a href="#" class="card-title">Zapatilla Fila F-centurio Hombre Gris X2962</a>
              <div class="price"><span>$1499.0</span></div>
            </div>              
          </div>        
          <div class="card card-product card-featured">
            <div class="card-body">
              <a href="/article-detail?id=92"><img class="card-img-top" src="http://mla-s2-p.mlstatic.com/937751-MLA30379100276_052019-C.jpg" alt="Card image cap"></a>
              <a href="/article-detail?id=92" class="card-title">Zapatilla John Foos 172 Slackline</a>
              <div class="price"><span>$2549.0</span></div>
            </div>              
          </div>
        </div>
    </div>
  </section>
  
  
   <!-- start section -->
  <section class="section py-5 bg-white">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-4 mb-2">
          <div class="text-center features-card">
            <i data-feather="truck" class="text-info"></i>
            <h5>Free Shipping</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                elit. Dolorum, eius, quae, aliquam.</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 mb-2">
          <div class="text-center features-card">
            <i data-feather="user" class="text-info"></i>
            <h5>Support 24/7</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                elit. Dolorum, eius, quae, aliquam.</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 mb-2">
          <div class="text-center features-card">
            <i data-feather="gift" class="text-info"></i>
            <h5>Gift cards</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                elit. Dolorum, eius, quae, aliquam.</p>
          </div>
        </div>        
      </div>
    </div> <!-- end container -->
  </section> <!-- end section -->
  

  
  <section class="section pt-5">
    <div class="container text-center">
      <h4 class="font-weight-bold">Popular brands</h4>
      <div class="featured-brands mt-3">   
         <img class="img-fluid py-5 px-5" src="../../../assets/image/brands/01.png" />
         <img class="img-fluid py-5 px-5" src="../../../assets/image/brands/02.png" />
         <img class="img-fluid py-5 px-5" src="../../../assets/image/brands/03.png" />
         <img class="img-fluid py-5 px-5" src="../../../assets/image/brands/04.png" />
         <img class="img-fluid py-5 px-5" src="../../../assets/image/brands/05.png" />
         <img class="img-fluid py-5 px-5" src="../../../assets/image/brands/06.png" />
         <img class="img-fluid py-5 px-5" src="../../../assets/image/brands/07.png" />
      </div>      
    </div>  
  </section>
  <app-footer></app-footer>
</body>
</html>