
<div>
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top shadow-sm">
      <a class="navbar-brand" href="#"><img width="150" height="30" src="../../../assets/image/logo.png"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarCollapse" aria-controls="navbarCollapse"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto font-weight-bold">
          <li class="nav-item">
            <a class="nav-link" href="#"> Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)" (click)="gotoStore()"> Store </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)" (click)="gotoStudent()"> Student </a>
          </li>
          <li class="nav-item">          
            <a class="nav-link" href="javascript:void(0)" (click)="gotoShoppingCart()" >Shopping Cart 
            <span class="badge badge-primary badge-pill" style="vertical-align: top;"></span></a>
          </li>                  
        </ul>
        <ul class="navbar-nav ml-auto font-weight-bold">          
          <li class="nav-item">          
            <a class="nav-link" href="javascript:void(0)"  (click)="gotoMyAccount()" >My Account </a>
          </li>
          <li class="nav-item">        
            <a class="nav-link" href="javascript:void(0)"  (click)="gotoAdmin()" > LogIn</a>
          </li>
          <li class="nav-item">
            
          </li>
          <li class="nav-item">
            
          </li>
        </ul>
      </div>
    </nav>
  </div>